/*---
title:   Breakpoints
section: Components
---

Typically used for svg-icons, that gets a size matching the current font-size. 
Fills will get the current color.

```example:html
<svg class="icon" xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <rect x="10" y="10" height="100" width="100"/>
    <!-- or <use xlink:href= -->
</svg>
```
*/

.icon {
  display: inline-block;
  height: 1em;
  fill:currentColor;
}